<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<body>


<div class="estudiantes">
{{#each estudiantes}}
<p>{{nombre}} su {{status nota}}</p>


{{/each}}


</div>

</body>
</html>